/* Styling */

#side-grid {
	width: 100%;
	padding: 2%;
	margin: auto;
	float: left;
}

.left,
.right {
	width: 50%;
	margin: 0 auto;
	float: left;
	padding: 5px;
}

.clear {
	clear:both;
}

ul.display-port {
	list-style: none;
	
}

ul.display-port li {
	width: 30%;
	margin: 0 auto;
	display: inline-block;
	padding: 5px;
}

/* Typography */

h2.portfolio-title {
	font-size: 1em;
}